In [1]:
# CASE - CANCELAMENTO DE CLIENTES

# PASSO A PASSO PARA O PROJETO

# PASSO 1: IMPORTAR A BASE DE DADOS
# PASSO 2: VISUALIZAR A BASE DE DADOS
# PASSO 3: TRATAMENTO DE ERROS
# PASSO 4: ANÁLISE INICIAL DA BASE DE DADOS (ENTENDER COMO ESTÃO OS CANCELAMENTOS)
# PASSO 5: ANÁLISE PROFUNDA DA BASE DE DADOS (ENTENDER AS CAUSAS DOS CANCELAMENTOS)

In [8]:
# Importar base de dados
import pandas
tabela = pandas.read_csv("cancelamentos.csv")

In [9]:
# Visualizar base de dados
display(tabela)

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [10]:
display(tabela.info()) # Mostra se a tabela tem valores vazios

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CustomerID              881664 non-null  float64
 1   idade                   881664 non-null  float64
 2   sexo                    881664 non-null  object
 3   tempo_como_cliente      881663 non-null  float64
 4   frequencia_uso          881663 non-null  float64
 5   ligacoes_callcenter     881664 non-null  float64
 6   dias_atraso             881664 non-null  float64
 7   assinatura              881661 non-null  object
 8   duracao_contrato        881663 non-null  object
 9   total_gasto             881664 non-null  float64
 10  meses_ultima_interacao  881664 non-null  float64
 11  cancelou                881664 non-null  float64
dtypes: float64(9), object(3)
memory usage: 80.7+ MB

None

In [11]:
# Tratamento de erros
# Tratar valores vazios
tabela = tabela.dropna() # Exclui células vazias

In [6]:
display(tabela.info()) # Mostra mudanças na base

<class 'pandas.core.frame.DataFrame'>
Int64Index: 881659 entries, 0 to 881665
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CustomerID              881659 non-null  float64
 1   idade                   881659 non-null  float64
 2   sexo                    881659 non-null  object
 3   tempo_como_cliente      881659 non-null  float64
 4   frequencia_uso          881659 non-null  float64
 5   ligacoes_callcenter     881659 non-null  float64
 6   dias_atraso             881659 non-null  float64
 7   assinatura              881659 non-null  object
 8   duracao_contrato        881659 non-null  object
 9   total_gasto             881659 non-null  float64
 10  meses_ultima_interacao  881659 non-null  float64
 11  cancelou                881659 non-null  float64
dtypes: float64(9), object(3)
memory usage: 87.4+ MB

None

In [12]:
# Informação que não ajuda, te atrapalha. Devemos excluir colunas inúteis para as análises
# O comando drop exclui tanto linhas quanto colunas
tabela = tabela.drop("CustomerID", axis = 1) # axis = 1 indica exclusão de coluna e axis = 0 exclusão de linha
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [13]:
# Análise inicial da base de dados
display(tabela["cancelou"].value_counts())
display(tabela["cancelou"].value_counts(normalize = True))

1.0    499993
0.0    381666
Name: cancelou, dtype: int64

1.0    0.567105
0.0    0.432895
Name: cancelou, dtype: float64

In [14]:
display(tabela["cancelou"].value_counts(normalize = True).map("{:.1%}".format)) # Mostra as porcentagens

1.0    56.7%
0.0    43.3%
Name: cancelou, dtype: object

In [15]:
display(tabela.groupby("duracao_contrato").mean()) # Calcula a média para todas as colunas em relação a duração de contrato

C:\Users\jeann\AppData\Local\Temp\ipykernel_25592\3422183697.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(tabela.groupby("duracao_contrato").mean()) # Calcula a média para todas as colunas em relação a duração de contrato

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,
Annual,38.842165,31.446186,15.880213,3.263401,12.465156,651.697738,14.236107,0.460760
Monthly,41.552407,30.538555,15.499274,4.985649,15.007267,550.616435,15.478012,1.000000
Quarterly,38.830938,31.419916,15.886662,3.265245,12.460863,651.427783,14.234544,0.460255

In [ ]:
# Contrato mensal sempre cancela

In [16]:
display(tabela.groupby("assinatura").mean())

C:\Users\jeann\AppData\Local\Temp\ipykernel_25592\3156590818.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(tabela.groupby("assinatura").mean())

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
assinatura,,,,,,,,
Basic,39.458756,31.935347,15.808678,3.652196,13.026310,628.673496,14.488492,0.581782
Premium,39.323023,30.883415,15.809341,3.577677,12.916779,632.927300,14.475566,0.559413
Standard,39.341109,30.976879,15.804613,3.585303,12.956423,633.134360,14.478837,0.560697

In [17]:
tabela = tabela[tabela["duracao_contrato"] != "Monthly"] # Retira todas linhas de contrato mensal

In [18]:
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
5,51.0,Male,33.0,25.0,9.0,26.0,Premium,Annual,129.00,8.0,1.0
6,58.0,Female,49.0,12.0,3.0,16.0,Standard,Quarterly,821.00,24.0,1.0
7,55.0,Female,37.0,8.0,4.0,15.0,Premium,Annual,445.00,30.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [21]:
# Análise profunda da base de dados
import plotly.express as px

In [27]:
# grafico = px.histogram(tabela, x = "assinatura")
# grafico.show()

In [28]:
# grafico = px.histogram(tabela, x = "assinatura", color = "cancelou")
# grafico.show()

In [29]:
# for coluna in tabela.columns:
#    grafico = px.histogram(tabela, x = coluna, color = "cancelou")
#    grafico.show()

In [30]:
# A partir de 21 dias de atraso no pagamento, os clientes cancelam
# Clientes a partir de 50 anos cancelam mais
# A partir de 5 ligações para o Call Center, os cliente cancelam

In [31]:
# Analisando apenas os dois gráficos indicados, nós podemos manter na tabela as ligações ao call center que são menores 
# do que 5.

# E podemos manter também as informações onde os dias de atraso são menores do que 0.

# Com isso podemos visualizar a base de dados e fazer o cálculo novamente para verificar o percentual de cancelamento.

# Veja que só removendo as informações dessas duas colunas passamos de um percentual de quase 50% de cancelamento
# para 18,4%.

In [32]:
tabela = tabela[tabela["ligacoes_callcenter"] < 5]
tabela = tabela[tabela["dias_atraso"] <= 20]
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
6,58.0,Female,49.0,12.0,3.0,16.0,Standard,Quarterly,821.00,24.0,1.0
7,55.0,Female,37.0,8.0,4.0,15.0,Premium,Annual,445.00,30.0,1.0
9,64.0,Female,3.0,25.0,2.0,11.0,Standard,Quarterly,415.00,29.0,1.0
13,48.0,Female,35.0,25.0,1.0,13.0,Basic,Annual,518.00,17.0,1.0
19,42.0,Male,15.0,16.0,2.0,14.0,Premium,Quarterly,262.00,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [33]:
display(tabela["cancelou"].value_counts())

0.0    379032
1.0     85447
Name: cancelou, dtype: int64

In [34]:
display(tabela["cancelou"].value_counts(normalize = True).map("{:.1%}".format))

0.0    81.6%
1.0    18.4%
Name: cancelou, dtype: object